@model Animals




<div class="row">
    <div class="col-3">@Model.AnimalName</div>
    <div class="col-3">@Model.Spesies</div>
    <div class="col-3">@Model.CalleByName</div>
    <div class="col-3">@Model.Quantity</div>
    <div>@Html.ActionLink("Details", "Details", "Animals", new {id = Model.Id})</div>
</div>
