@model List<Animals>
@{
    ViewData["Title"] = "ZooPark";
}

<h1>ZooPark</h1>
<a asp-action="Create">Add an animal to my Zoo</a>



<table>
    <thead>
        <hr />
    <td>Animal</td>
    <td>Species</td>
    <td>CalledByName</td>
    <td>Quantity</td>
    </thead>
    <tbody>
        @foreach (Animals animal in Model)
        {
            <tr>
                <td>@animal.AnimalName</td>
                <td>@animal.Spesies</td>
                <td>@animal.CalleByName</td>
                <td>@animal.Quantity</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-3">Animal</div>
    <div class="col-3">Species</div>
    <div class="col-3">CallBy Name</div>
    <div class="col-3">Quantity</div>





</div>
@foreach (Animals animal in Model)
        {
            <tr>
                <td>@animal.AnimalName</td>
                <td>@animal.Spesies</td>
                <td>@animal.CalleByName</td>
                <td>@animal.Quantity</td>
            </tr>
        }

